@charset "utf-8"; /*文字コードを指定*/
body{
  font-family: "Avenir Next" /*fontを指定*/
}

li{
  list-style: none;
}

.header{
  background-color: #D9E5FF;
  height: 90px;
  margin-bottom: 0px;
}

.header-logo{
  float: left; /*横並びにする*/
  font-size: 36px;
  padding: 20px 40px;/*要素に余白を与える*/
}

.header-list li{
  float: left;
  padding:33px 20px;
}

.main{
  padding:100px 80px;
  margin-top: 0px;
}
.bigtitle h1{
  font-size:140px;
}
.bigtitle h2{
  font-size:60px;
}

.section-title {
  border-bottom: 2px solid #dee7ec; /*下に線を引く*/
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contents{
  height:500px;
  margin-top: 100px;
}

.contents-items{
  float:left;
  margin-right: 80px;
  margin-left: 80px;
}

.footer{
  background-color: #111;
  height:120px;
}

.footer-logo{
  font-size:24px;
  color:#fff;
  float:left;
}

.footer-list{
  font-size:14px;
  color:#fff;
  float:right;
  margin-right:20px;
}
